var flat = require("./flat.wxs");
var R = require("./role.wxs");
var eRows = require("./evaluate-rows.wxs");

var evaluate = function (board) {
  var rows = flat(board);
  var humScore = eRows(rows, R.hum);
  var comScore = eRows(rows, R.com);

  return {
    "comScore": comScore,
    "humScore": humScore
  };
};

module.exports = evaluate;
